.env
/app/src/configuration.local.yaml
/app/target/
/app/backups/
/scrapers/target/
/scrapers/.locks/
/scrapers/logs/
/scrapers/**/.runtime/
/scrapers/**/.venv/
/scrapers/**/node_modules/
/__pycache__/
